{% load static %}
<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <title>Hava Məlumatı</title>
    <link rel="stylesheet" href="{% static 'blog/weather.css' %}">
</head>
<body>
<div class="container">
    <h1>🌦️ Hava Məlumatı</h1>
    <form method="POST">
        {% csrf_token %}
        <label>
            <input type="text" name="city" placeholder="Şəhər adı daxil et" required>
        </label>
        <button type="submit">Axtar</button>
    </form>

    {% if weather_data %}
        {% if weather_data.error %}
            <p style="color:red;">{{ weather_data.error }}</p>
        {% else %}
            <div class="result">
                    <h2>{{ weather_data.city }}</h2>
                    <p>🌡️ Temperatur: {{ weather_data.temperature }}°C</p>
                    <p>💨 Təzyiq: {{ weather_data.pressure }}</p>
                    <p>☁️ {{ weather_data.description|capfirst }}</p>
                    <img src="http://openweathermap.org/img/wn/{{ weather_data.icon }}@2x.png" alt="Weather Icon">
                </div>
        {% endif %}
    {% endif %}
</div>
</body>
</html>
